@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

.App {
  text-align: center;
  background-image: url(./images/Background.jpeg);
  background-size: cover;
  background-position: center;
}

